nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: greenyellow;
  height: 80px;
  align-items: center;
  padding-left: 20px;
  font-family: 'DotGothic16', sans-serif;
  filter: drop-shadow(0 1px 0 grey)
}

.logo {
  font-size: 25px;
}

.link {
  margin: 0 20px;
  font-size: 18px;
  
}

.link:hover {
  filter: drop-shadow(1px 1px 1px grey)
}

.kiwi {
  height: 120px;
  /* margin-top: 65px; */
  padding-top: 40px;
  filter: drop-shadow(1px 1px 2px grey)
}

.logo-container {
  display: flex;
  align-items: center;
}